.hero-container {
    display: flex;
    justify-content: center;
    color: var(--white);
}

.hero-container .wrapper {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-title {
    margin-top: 3rem;
    font-weight: 600;
    font-size: 3rem;
}

.hero-text {
    width: 60%;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 300;
}

.app-ratings {
    display: flex;
    margin-top: 1.5rem;
}

.google-logo, .capterra-logo {
    margin: 0 1rem;
}

.google-logo {
    width: 7rem;
}

.capterra-logo {
    width: 10rem;
}

.blue {
    color: var(--main-blue);
    font-weight: 500;
}