/* LANG BUTTON */

.lang-button-container {
    list-style: none;
    padding: 0.3rem 0.7rem;
    background-color: var(--gray);
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.flag-logo {
    width: 0.8rem;
}

.flag-logo, .lang-text {
    margin-right: 0.4rem;
}

.lang-text {
    font-size: 0.8rem;
}


.list-langs-container {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(1.7rem) translateX(0);
}

.list-langs {
    width: 100%;
    margin-top: 0.3rem;
    border-radius: 0.4rem;
    border: 1px solid var(--gray);
    background-color: rgba(26, 30, 36, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem 0.8rem;
}

.lang-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
}

.lang-container:first-child {
    margin-bottom: 0.2rem;
}

.lang-container:hover {
    background-color: rgba(52, 61, 73, 0.8);
}