.brands-title {
    color: var(--gray);
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    letter-spacing: 0.05rem;
}

.brands-container {
    width: 100%;
    /* min-width: 700px; */
    margin-top: 3rem;
    padding: 1rem 4rem 0.7rem 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-color: rgb(255, 251, 247);
    /* background-color: rgba(28, 36, 49, 0.95); */
    /* box-shadow: 0 0 2rem rgba(28, 36, 49, 0.1); */
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.brands-container::before {
    content:'';
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 1rem;
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 251, 247);
    left: 0;
    top: -50%;
    clip-path: ellipse(93% 100% at 31.08% 100%);
}

.brand-logo {
    height: 80px;
    width: 130px;
    filter:grayscale(1) opacity(0.7); 
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 100%;
}

.blur {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.left {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(28, 36, 49, 0.2) 0%, rgba(255,255,255,0) 100%);
    left: 0;
}

.right {
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(28, 36, 49, 0.2) 0%, rgba(255,255,255,0) 100%);
    right: 0;
}