
.why-card-container {
    width: 500px;
    height: 200px;
    /* border: 1px solid var(--main-blue); */
    border-radius: 1rem;
    padding: 1rem 2rem;
    display: flex;
    background-color: var(--dark);
    box-shadow: 1px 1px 6px 2px rgba(10, 16, 27, 0.1);
    position: relative;
    margin: 1rem;
    transition: all 0.3s;
    opacity: 1;
}

.why-card-container::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 5px;
    border-radius: 0 1rem 1rem 0;
    background-color: var(--main-blue);
    left: 0;
    top: 10%;
}

.why-card-container:hover {
    transform: translateY(-10px);
    border: 1px solid var(--main-blue);

}

.card-img {
    width: 30%;
    margin-right: 1rem;
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why-card-title {
    font-size: 1rem;
    color: var(--white);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.why-card-desc {
    font-size: 0.8rem;
    color: var(--white);
}

@media screen and (max-width: 430px) {
    .why-card-container {
        padding: 1rem 1rem;
    }
    .card-img {
        width: 40%;
    }
}

@media screen and (max-width: 375px) {
    .why-card-container {
        
    }
    .card-img {
        display: none;
    }
}