
/* HEADER */
.header-container {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--dark);
    position: relative;
    z-index: 0;
    margin-bottom: 5rem;
}

/* RIGHT LINKS */

.customer-link {
    margin-right: 1rem;
}

.bg-items {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-blueball {
    position: absolute;
    width: 200px;
    left: 25%;
    top: 10%;
    opacity: 1;
    animation: infinite blink 4s;
}

@keyframes blink {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.6);
    }
    100% {
        transform: scale(1.1);
    }
}

.bg-man {
    position: absolute;
    width: 160px;
    right: 10%;
    top: 30%;
    opacity: 0.9;
}

.bg-squares {
    position: absolute;
    width: 150px;
    left: 10%;
    top: 20%;
    opacity: 0.7;
}

@media screen and (max-width: 850px) {
    .bg-man {
        filter: blur(2px);
        opacity: 0.5;
    }
}


@media screen and (max-width: 430px) {
    .bg-man {
        filter: blur(5px);
    }
}