
/* HEADER */
.header-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


/* RIGHT LINKS */

.customer-link {
    margin-right: 1rem;
}


.header-container {
    background-color: var(--dark);
}