.features {
    background-color:rgb(255, 251, 247);
    min-height: 110vh;
    padding-top: 3rem;
    margin-bottom: 6rem;
    position: relative;
}

/* .features::after {
    content:'';
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 251, 247);
    left: 0;
    top: 100%;
    clip-path: ellipse(99% 100% at 31.38% 0%);
} */

.feature-menu {
    display: flex;
    width: 100%;
    padding: 3rem 4rem 0 3rem;
}

.bg-blueball-features {
    position: absolute;
    width: 200px;
    left: 2%;
    top: 20%;
    opacity: 1;
}

.menu-item {
    flex: 1 0;
    color: var(--main-blue);
    font-weight: 700;
    text-align: center;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid var(--main-blue);
    cursor: pointer;
    transition: 0.1s;
}

.menu-item:hover {
    border-bottom: 4px solid var(--main-blue);
}

.menu-item.active {
    border-bottom: 4px solid var(--main-blue);
}

.menu-item.active:hover {
    border-bottom: 4px solid #205fc4;
}

.features-wrapper {
    display: flex;
    margin-top: 2rem;
    padding: 0 3rem 0 2rem;
}

.features-call {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 2rem;
}

.features-call-pre-title {
    width: 100%;
    color: var(--main-blue);
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.features-call-title {
    width: 100%;
    color: var(--dark);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.features-items {
    width: 50%;
    padding: 1rem;
}

