.softwares {
    display: flex;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 110vh;
    position: relative;
}

.software-bg {
    position: absolute;
    opacity: 0.5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../public/blueball.svg);
    background-repeat: repeat-x;
    z-index: 0;
}

@media screen and (max-width: 1200px) {
    .softwares {
        padding-bottom: 4rem;
    }
    
}