.light-button {
    border: none;
    background-color: var(--main-blue);
    /* background-color: transparent; */
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    color: var(--white);
    transition: background-color 0.3s;
    cursor: pointer;
}

.light-button:hover {
    background-color: #5491f3;
}

.big {
    font-size: 1.1rem;
    padding: 0.5rem 1.4rem;
}