:root {
  --dark: #1C2431;
  --white: rgb(255, 251, 247);
  --main-blue: #337BF1;
  --gray: #374152;
  --time: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

input {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

html {
  width: 100vw;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 0 3.5rem;
}