:root {
  --dark: #1C2431;
  --white: #FFFFFF;
  --main-blue: #337BF1;
  --gray: #374152;
  --time: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  width: 100vw;
}

body {
  width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 0 3.5rem;
}